# pvcd cluster configuration file example
#
# This configuration file specifies details for this node in PVC. Multiple host
# blocks can be added but only the one matching the current system hostname will
# be used by the local daemon. Default values apply to all hosts for any value
# not specifically overridden.
#
# Nodes can be specified individually, e.g.
#    [node1.domain]
#    ...
#    [node2.domain]
#    ...
# Or a default configuration can be specified
#    [*]
#
# The following values are required for each host or in a default section:
#    zookeeper: the IP+port of the Zookeper instance (defaults to 127.0.0.1:2181)
#    keepalive_interval: the interval between keepalives and for dead node timeout (defaults to 5)
#    ipmi_hostname: the IPMI hostname for fencing (defaults to <shortname>-lom.<domain>)
#    ipmi_username: username to connect to IPMI
#    ipmi_password: password to connect to IPMI
#
# Copy this example to /etc/pvc/pvcd.conf and edit to your needs

[default]
zookeeper = 127.0.0.1:2181
keepalive_interval = 5
#ipmi_username = admin
#ipmi_password = admin

[myhost]
ipmi_username = admin
ipmi_password = admin
ipmi_hostname = myhost-lom
