# Parallel Virtual Cluster autoflush daemon

[Unit]
Description = Parallel Virtual Cluster autoflush daemon
After = pvcd.service
PartOf = pvcd.target

[Service]
Type = oneshot
RemainAfterExit = true
WorkingDirectory = /usr/share/pvc
ExecPreStart = /bin/sleep 30
ExecStart = /usr/bin/pvc node unflush --wait
ExecStop = /usr/bin/pvc node flush --wait
ExecPostStop = /bin/sleep 30

[Install]
WantedBy = pvcd.target
