# Parallel Virtual Cluster node daemon unit file

[Unit]
Description = Parallel Virtual Cluster node daemon
After = network-online.target zookeeper.service libvirtd.service
Wants = zookeeper.service libvirtd.service
PartOf = pvc.target

[Service]
Type = simple
WorkingDirectory = /usr/share/pvc
Environment = PYTHONUNBUFFERED=true
Environment = PVCD_CONFIG_FILE=/etc/pvc/pvcnoded.yaml
ExecStartPre = /bin/sleep 2
ExecStart = /usr/share/pvc/pvcnoded.py
ExecStopPost = /bin/sleep 2
Restart = on-failure

[Install]
WantedBy = pvc.target
