# Parallel Virtual Cluster node daemon unit file

[Unit]
Description = Parallel Virtual Cluster node daemon
After = network-online.target zookeeper.service
PartOf = pvc.target

[Service]
Type = simple
WorkingDirectory = /usr/share/pvc
Environment = PYTHONUNBUFFERED=true
Environment = PVCD_CONFIG_FILE=/etc/pvc/pvcnoded.yaml
ExecStart = /usr/share/pvc/pvcnoded.py
Restart = on-failure

[Install]
WantedBy = pvc.target
