# Parallel Virtual Cluster startup target

[Unit]
Description = Parallel Virtual Cluster target for managing all services collectively

[Install]
WantedBy = multi-user.target
