# pvcvd cluster configuration file example
#
# This configuration file specifies details for this node in PVC. Multiple host
# blocks can be added but only the one matching the current system hostname will
# be used by the local daemon. Default values apply to all hosts for any value
# not specifically overridden.
#
# The following values are required for each host or in a default section:
#    zookeeper: the IP+port of the Zookeper instance (defaults to 127.0.0.1:2181)
#    keepalive_interval: the interval between keepalives and for dead node timeout (defaults to 5)
#    fence_intervals: the number of keepalive_intervals without Zookeeper contact before this node
#                     will consider another node dead and fence it (defaults to 6, i.e. 30s)
#    suicide_intervals: the number of keepalive_intervals without Zookeeper contact before this
#                       node will consider itself failed and terminate all running VMs (defaults
#                       to 0, i.e. disabled); should be less than "fence_intervals"
#    successful_fence: the action to take on a successful fencing operation; can be "none" or
#                      "migrate" (defaults to "migrate")
#    failed_fence: the action to take on a failed fencing operation; can be "none" or "migrate"
#                  (defaults to "none"); "migrate" requires "suicide_intervals" to be set)
#                  NOTE: POTENTIALLY DANGEROUS - see README for details
#    migration_target_selector: the method to use to select target hypervisor nodes during a
#                               flush action; can be "mem", "load", "vcpus", or "vms" (defaults
#                               to "mem"); the best choice based on this field is selected for
#                               each VM to be migrated
#    ipmi_hostname: the IPMI hostname for fencing (defaults to <shortname>-lom.<domain>)
#    ipmi_username: username to connect to IPMI
#    ipmi_password: password to connect to IPMI
#
# Copy this example to /etc/pvc/pvcd.conf and edit to your needs

[default]
zookeeper = 127.0.0.1:2181
keepalive_interval = 5
fence_intervals = 6
suicide_intervals = 0
successful_fence = migrate
failed_fence = none
migration_target_selector = mem

[myhost]
ipmi_username = admin
ipmi_password = admin
ipmi_hostname = myhost-lom
