Source: pvc
Section: main
Priority: optional
Maintainer: Joshua Boniface <joshua@boniface.me>
Standards-Version: 3.9.8
Homepage: https://www.boniface.me
X-Python3-Version: >= 3.2

Package: pvc-daemon-common
Architecture: all
Depends: python3-kazoo, python3-psutil, python3-apscheduler
Suggests: pvc-virtualization-daemon, pvc-cli-client
Description: Parallel Virtual Cluster common daemon libraries (Python 3)
 The Parallel Virtual Cluster provides a management solution for QEMU/KVM virtual clusters.
 .
 This package installs the common daemon libraries

Package: pvc-virtualization-daemon
Architecture: all
Depends: pvc-daemon-common, python3-libvirt, ipmitool, libvirt-daemon-system
Suggests: pvc-cli-client
Description: Parallel Virtual Cluster virtualization daemon (Python 3)
 The Parallel Virtual Cluster provides a management solution for QEMU/KVM virtual clusters.
 .
 This package installs the PVC virtualization daemon

Package: pvc-network-daemon
Architecture: all
Depends: pvc-daemon-common, python3-libvirt, ipmitool, libvirt-daemon-system
Suggests: pvc-cli-client, pvc-virtualization-daemon
Description: Parallel Virtual Cluster network daemon (Python 3)
 The Parallel Virtual Cluster provides a management solution for QEMU/KVM virtual clusters.
 .
 This package installs the PVC network daemon

Package: pvc-client-common
Architecture: all
Depends: python3-kazoo, python3-psutil, python3-click, python3-lxml
Description: Parallel Virtual Cluster common client libraries (Python 3)
 The Parallel Virtual Cluster provides a management solution for QEMU/KVM virtual clusters.
 .
 This package installs the common client libraries

Package: pvc-cli-client
Architecture: all
Depends: pvc-client-common
Description: Parallel Virtual Cluster client (Python 3)
 The Parallel Virtual Cluster provides a management solution for QEMU/KVM virtual clusters.
 .
 This package installs the PVC command-line client

