# Parallel Virtual Cluster Provisioner client worker unit file

[Unit]
Description = Parallel Virtual Cluster Provisioner worker
After = network-online.target

[Service]
Type = simple
WorkingDirectory = /usr/share/pvc
Environment = PYTHONUNBUFFERED=true
Environment = PVC_CONFIG_FILE=/etc/pvc/pvc-api.yaml
ExecStart = /usr/bin/celery worker -A pvc-api.celery --concurrency 1 --loglevel INFO
Restart = on-failure

[Install]
WantedBy = multi-user.target
