# Parallel Virtual Cluster API client daemon unit file

[Unit]
Description = Parallel Virtual Cluster API client daemon
After = network-online.target

[Service]
Type = simple
WorkingDirectory = /usr/share/pvc
Environment = PYTHONUNBUFFERED=true
Environment = PVC_CONFIG_FILE=/etc/pvc/pvcapid.yaml
ExecStart = /usr/share/pvc/pvcapid.py
Restart = on-failure

[Install]
WantedBy = multi-user.target
