# Parallel Virtual Cluster Celery Worker daemon unit file

[Unit]
Description = Parallel Virtual Cluster Celery Worker daemon
After = network-online.target

[Service]
Type = simple
WorkingDirectory = /usr/share/pvc
Environment = PYTHONUNBUFFERED=true
Environment = PVC_CONFIG_FILE=/etc/pvc/pvc.conf
ExecStart = /usr/share/pvc/pvcworkerd.sh
Restart = on-failure

[Install]
WantedBy = multi-user.target
